* {
     
    font-family: 'Nunito Sans', sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&display=swap');


  body {
    background: url(../src/assets/bg.png) no-repeat;
    height: 100%;
    width: 100%;
 
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
}

.manin_wrapper {
    width: 1000px;
}

.heading {
    width: 100%;
    overflow: hidden;
}

.fullwrapper {
    margin-top: -20px;
}

.heading h1 {
    font-size: 26px;
    color:#fff;
    font-weight:800;
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
   
}

.heading h3 {
    font-size:22px;
    color:#fff;
    font-weight:700; 
    float: right;
    line-height:10px;
}

.mode_heading {
    color: #fff;
    width: 100%;
    overflow: hidden;
}

.singlebox {
    float: left;
    width: 50%;
    text-align: center;
    margin-left: -30px;
}

.singlebox h3 {
    color: #fff;
    text-align: center;
    margin-top: -10px !important;
    font-weight: 900;
    font-size: 22px;
    margin-bottom: 23px;
}

.singlebox img {
    height: 250px;
}

.bu {
    width: 33.33%;
    display: inline-flex;
    margin-right: -173px; 
}
 
.buttons .b1 {
    display: inline-block;
    background: #0680d2;
    border: 3px solid #fff;
    width: 140px;
    border-radius: 20px;
    color: #fff;
    font-weight: 900;
    font-size: 21px;
    text-align: center;
    box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.24);
    padding: 3px;
    margin-right: 5px; 
}

.buttons {
    display: inline-block;
    margin-left: 0px;
    margin-top: -73px;
}

.startb{
    display: inline-block;
    background: #3406d2;
    border: 3px solid #fff;
    color: #fff;
    width: 140px;
    font-weight: 900;
    font-size: 24px;
    border-radius:15px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.24);
}

.endB{
    
    display: inline-block;
    background: #D71921 !important;
    border: 3px solid #fff;
    width: 140px;
    font-weight: 900;
    font-size: 24px;
    border-radius:15px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.24);
}

.start {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.end {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-align: center;
   
}

button.endB { 
    margin-top: 16px;
    margin-left: 15px;
}

button{
    outline: none;
}

@media (min-width: 426px) and (max-width: 991.98px)    {

    .manin_wrapper {
        width: 340px;
    }
    .heading h1 {
        font-size: 20px; 
        line-height: 0; 
    }
    .heading h3 {
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        float: unset;
        line-height: 20px;
        text-align: center;
    }
    .singlebox {
        width: 154px;
        text-align: center;
        margin: 0 auto;
    }
    .singlebox .bo {
        margin: 0 auto;
        width: 225px;
        float: right;
    }
    .singlebox h3 {

        text-align: center;
    }

    
    .singlebox img {
        height: 150px;
    }

    .mode_heading h3 {
        text-align: center;
    }

    .buttons .b1 {
        display: inline-block;
        background: #0680d2;
        border: 3px solid #fff;
        width: 140px;
        border-radius: 20px;
        color: #fff;
        font-weight: 900;
        font-size: 21px;
        text-align: center;
        box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.24);
        padding: 3px;
        margin-right: 5px; 
    
    }
  
    .buttons {
        display: inline-block;
        margin-left: 0px;
        margin-top: -73px;
    }
    
    .startb{
        width: 150px;
    }
     .button.endB {
        width: 150px;
        margin-top: 16px;
    }


}

@media (min-width: 300px) and (max-width: 425px) {
    .manin_wrapper {
        width: 320px;
    }
    .heading h1 {
        font-size: 20px; 
        line-height: 0; 
    }
    .heading h3 {
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        float: unset;
        line-height: 20px;
        text-align: center;
    }
    .singlebox {
        width: 154px;
        text-align: center;
        margin: 0 auto;
    }
    .singlebox img {
      height: 150px;
      margin-top: 15px;
    }

    .singlebox .bo {
        margin: 0 auto;
        width: 225px;
        float: right;
    }
    .singlebox h3 {

        text-align: center;
    }
    .mode_heading h3 {
        text-align: center;
    }
    .buttons {
        display: inline-block;
        margin-left: 4px;
        margin-top: -73px;
    }
    
    .startb{
        width: 60%;
    }
    .button.endB {
        width: 47%;
        margin: 10px auto;
        
    }

    .player{
       margin-left: 15px;}

    }

    .bu {
        margin: 0px;
        padding: 0px;
    }

    .buttons .b1 {
        display: inline-block;
        background: #0680d2;
        border: 3px solid #fff;
        width: 140px;
        border-radius: 20px;
        color: #fff;
        font-weight: 900;
        font-size: 21px;
        text-align: center;
        box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.24);
        padding: 3px;
        margin-right: 5px; 
    
    }

