* {
    background-color: #ABE305;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 0px;
}

body {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    background-color: #3F4242;
   
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.header_title {
    padding: 0px!important;
    margin: 0px!important;
}

.player {
    width: 240px;
    height: 135px;
    margin: -10px 40px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.weaponBtn {
    width: 100px;
    height: 50px;
    display: inline;
    margin: auto 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
    background: #3F4242;
}

.player:nth-child(2) {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.winner {
    width: 100px;
    height: 55px;
    margin: 10px auto;
    color: brown;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.player-image {
    height: 200px;
    width: auto;
}

button {
    width: 200px;
    height: 50px;
    display: block;
    margin: 10px auto;
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
    background: #3F4242;
    outline: none;
}

button:hover {
    cursor: pointer;
}

.continer {
    padding: 0px!important;
    margin: 0px!important;
    height: 88vh;
}
.game_board h3, .game_board h4{
    padding: 0px!important;
}
.main_area {
    margin: 20px;
}
.pick_item {
    margin-top: 5%;
    margin-bottom: 5%;
}

@media only screen and (max-width: 450px) {
    .player-image {
        height: 200px;
        width: auto;
        padding: 10px;
    }
    .weaponBtn {
        width: 100px;
        height: 50px;
        display: inline;
        margin: auto 15px;
        color: #fff;
        font-size: 18px;
        border-radius: 25px;
        background: #3F4242;
        margin: 0;
        margin-right: 14px;
    }
  }
